<div id="click-here-to-become-a-vendor" >
	<span class="avia_button_icon avia_button_icon_left " aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
	<span class="avia_iconbox_title">CLICK HERE TO BECOME A VENDOR</span>
	<div class="av-button-description av-button-description-below">
		<p>Exposure to thousands in print, digital, tv, radio and in person at the event.</p>
	</div>
	<span class="avia_button_background avia-button avia-button-fullwidth avia-color-custom" style="background-color:#714787; "></span></a></div></div>

<!--  -->
