<div id="tickets" 
	class="avia-section main_color avia-section-no-padding avia-no-border-styling avia-bg-style-scroll  avia-builder-el-6  el_after_av_section  el_before_av_section  av-minimum-height av-minimum-height-custom container_wrap fullsize"  data-section-bg-repeat="no-repeat">
						<h1 class="av-special-heading-tag" itemprop="headline"><strong>Tickets</strong></h1>

</div>

<!--  -->
<ul class="pricing-table avia-highlight-col">
	<li class="avia-heading-row">
		<div class="first-table-item"><h2 >Weekend Pass</h2></div><span class="pricing-extra"></span>
	</li>
	<li class="avia-pricing-row">
		Prices for tickets to be announced soon!
	</li>
	<li class="">
		Gain access to the exclusive deals at the New Consciousness Expo<br>
		Access to entertainment at the event
	</li>
	<li class="">
		Be central to latest local offerings
	</li>
	<li class="">
		<div class="avia-button-wrap avia-button-center ">Tickets Coming Soon!</div>
	</li>
</ul>