<div style="padding-bottom:28px;color:#3d3d3d;font-size:30px;" class="av-special-heading av-special-heading-h1 custom-color-heading blockquote modern-quote modern-centered  avia-builder-el-5  el_after_av_hr  avia-builder-el-last   av-inherit-size">
	<h1 class="av-special-heading-tag" itemprop="headline">
		<strong >April 27th – 28th</strong>
	</h1>
	<div class="av-subheading av-subheading_below av_custom_color" style="font-size:22px;">
		<p><span >
			Save the date for the raddest shopping show in Utah!
		</span></p>
	</div>
</div>